@model BlogSystem.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.full_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.full_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password_hash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password_hash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password_salt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password_salt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
